<div class="form-signup">
    <form method="POST">
        <h1 class="h3 mb-5 fw-normal text-center">Please Sign Up</h1>

        <div class="form-floating" id="email-section">
            <input name="email" type="email" class="form-control" id="email" placeholder="name@example.com" required>
            <label for="email">Email</label>
        </div>

        <div class="form-floating" id="password-section">
            <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <hr>
        <div class="form-floating mb-4" id="username-section">
            <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required>
            <label for="name">Your Name</label>
        </div>
        <button class="w-100 btn btn-lg mt-3 shadow" type="submit" id="submit-btn">Sign up</button>
    </form>

</div>